<form id="noteForm">   
    <input type="text" id="name" placeholder="Nombre">
    <textarea id="message" rows="3" placeholder="Mensaje"></textarea>
    <button>Enviar</button>
</form>

<ul id="notes"></ul>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script> 
<script src="../public/js/index.js" type="module"></script>



