<div class="container">
    <div class="row">
        <div class="col-lg-12 shadow-lg p-3 mb-5">
            <div class="card border-primary">
                <div class="card-header bg-danger text-white text-center">Usted aun no a finalizado de cargar toda la documentación requerida para esta solicitud</div>
                <div class="card-body text-primary">
                    <form action="/" method="get">                    
                      <div class="mb-3">
                        <label for="user" class="form-label text-center">Debe finalizar de cargar todos los documentos requeridos para solicitar usuario Premium</label>                        
                    </div>                  
                </div>
                <div class="card-footer bg-transparent border-primary text-center">
                    <a href="/" type="button" class="btn btn-secondary">Cancelar</a> 
                    <a href="/api/users/premium/:uid" type="button" class="btn btn-success">Aceptar</a>                    
                    <a href="/uploadDocuments" type="button" class="btn btn-warning">Solicitar Premium</a> 
                </div>
                </form>
            </div>
        </div>
    </div>
</div>