<body>
  <header class="container-fluid bg-dark position-sticky top-0">
    <div class="navbar-nav">
      <div class="header2">
        <div class="title">
        <img class="avatar" src="https://i.postimg.cc/65D2wVCC/imagen.png" alt="">
        <h1>FUNKOPOPS</h1>
        <a href="/api/carts" class="btn btn-outline-warning cart productall">Mi Carrito Funko 游
        {{#if cart}}
        <span class="badge bg-danger rounded-pill">{{cartQty}}</span>
        {{/if}}
        </a>          
        <button type="submit" class="btn btn-outline-success button cart productall"><a class="page-link" href="/api/products_index">Todos los Productos</a></button>
        <a href="/api/tickets" class="btn btn-outline-danger button cart productall">Mis Compras  游늮</a>
        {{#if isAdmin}}
        {{!-- <a href="/fakeuser" class="btn btn-info text-light button cart productall">Mock Fakeuser</a> --}}           
        <a href="/rol" class="btn btn-outline-primary button cart productall">Editar Usuario</a> 
        {{/if}}
        {{#or isPremium isUsuario}}
        <a href="/api/users/premium/:uid" class="btn btn-outline-primary button cart productall">Premium</a>          
        {{/or}}
        {{#or isAdmin isPremium}}
        <a href="/api/addProduct" class="btn btn-orange button cart productall">Agregar Productos</a>           
        {{/or}}
        </div>  
        <div class="navbartotal">
        <div >
          <h4 class="card-title pt-2 text-center text-primary">Bienvenido:({{name}})</h4>
        </div>
        <div>
          <h4 class="card-title pt-2 text-center text-success">Rol:({{rol}})</h4>         
        </div>
        <div class="btn-group">
      <img src={{avatar}} class="btn dropdown-toggle avatar" data-bs-toggle="dropdown" aria-expanded="false" />
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/updateavatar">Cambiar Avatar</a></li>
    {{#if pass}}
    <li><a class="dropdown-item" href="/updatepass">Cambiar Contrase침a</a></li>       
    {{/if}}
    {{#or isPremium isUsuario}}
    <li><a class="dropdown-item" href="/uploadDocuments">Pasar a Premium</a></li>
    {{/or}}
    <li><a class="dropdown-item" href="/api/users">Todos los usuarios</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Cerrar Sesi칩n</a></li>    
  </ul>
    </div>
  </header>

  <div class="container">
    <div class="row">
        <div class="col-lg-12 shadow-lg p-3 mb-5">
            <div class="card border-primary">
                <div class="card-header bg-primary tect-white">Cambiar contrase침a</div>
                <div class="card-body text-primary">
                    <form action="/updatepass" method="post">                     
                    <div class="mb-3">
                        <label for="password" class="form-label">Contrase침a Anterior</label>
                        <input type="password" id="pass" name="pass" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contrase침a Nueva</label>
                        <input type="password" id="newpass" name="newpass" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Repetir Contrase침a</label>
                        <input type="password" id="newpass2" name="newpass2" class="form-control">
                    </div>
                </div>
                <div class="card-footer bg-transparent border-primary">
                    <a href="/" type="button" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>                
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="bg-transparent text-dark pt-5 pb-4">
  <div class="d-flex justify-content-between m-5">
    <div class="row text-center text-md-start justify-content-between">
      <div class="col-md-3 col-lg-8 col-x1-8 mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
        <hr class="mb-4">
        <p class="text">Funko POP es una marca l칤der en estilo de vida de la cultura pop. Brindamos conexi칩n 
                con
                una l칤nea de productos que incluye tus juguetes de acci칩n favoritos. Como el propietario de licencias m치s grande del mundo,
                los
                entusiastas del entretenimiento muestran su fanatismo a trav칠s de la lente de los productos Funko.


                춰La compa침칤a ofrece una gran selecci칩n de productos de consumo de la cultura pop a trav칠s de nuestra web, Obtenga m치s
                informaci칩n en
                nuestras redes sociales y s칤ganos en Twitter, facebook e Instagram para mayor informaci칩n.</p>
      </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
          <hr class="mb-4">
          <div class="d-flex">
            <li class="fas fa-home me-3 text-light"></li>
            <p class="text-light">Av.Corrientes 1333 PB</p>
          </div>
          <div class="d-flex">
            <li class="fas fa-envelope me-3 text-light"></li>
            <p class="text-light">diego_fg91@hotmail.com</p>
          </div>     
          <div class="d-flex">
            <li class="fab fa-whatsapp me-3 text-light"></li>
            <p class="text-light">+54116666666</p>
          </div>         
        </div>
        <hr class="mb-4">
        <div class="text-center mb-2">
          <p class="text-light">Copyright Todos los derechos Reservados 춽 
            <a href="#">
              <strong class="text-primary"></strong>
            </a>
          </p>
        </div>
        <div class="text-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/" target="_blank" class="text-light"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/" target="_blank" class="text-light"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/" target="_blank" class="text-light"><i class="fab fa-instagram"></i></a>
            </li>            
            <li class="list-inline-item">
              <a href="https://www.youtube.com/watch?v=RCnxTwMZLes&t=332s" target="_blank" class="text-light"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</footer>